body {
	
}

.active {
	background-color: #f5f5f5 !important;
	color: white;
}

.newsheader{
	color:black !important;
}

.announcement{
	color: #1e767a !important;
	font-weight: bold;
}
.list-group-item.active {
	background-color: black !important;
	border-color: #aed248;
}

.navbar {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	height: 33px !important;
	margin-bottom: 0 !important;
	border-radius: 0 !important;
	height:33px;
	padding-bottom: 8px !important;
	
}

.navbar-header{
	height:33px;
}

.navbar-nav>li>a, .navbar-brand {
	padding-top: 6px !important;
	padding-bottom: 0px !important;
	height: 33px !important;
}

.navbar-default {
	background-color: #1e767a !important;
	border-color: #0c2f30 !important;
	z-index: 999;
}

.navbar-default .navbar-brand {
	color: #ffffff !important;
}

#searchBtn{
padding-top: 15px;
padding-left:8px;
padding-right:8px;
padding-bottom:15px;	
}

.body-hidden{
	display: none;
}

/* .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus */
/* 	{ */
/* 	color: #ffffff !important; */
/* } */

/* .navbar-default .navbar-text { */
/* 	color: #ffffff !important; */
/* } */

.navbar-default .navbar-nav>li>a {
	color: #ffffff !important;
}

/* .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus */
/* 	{ */
/* 	color: #ffffff !important; */
/* } */

/* .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, */
/* 	.navbar-default .navbar-nav>.active>a:focus { */
/* 	color: #ffffff !important; */
/* 	background-color: #e7290c !important; */
/* } */

/* .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, */
/* 	.navbar-default .navbar-nav>.open>a:focus { */
/* 	color: #ffffff !important; */
/* 	background-color: #e7290c !important; */
/* } */

.navbar-default .navbar-toggle {
	border-color: #061718 !important;
}

/* .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus */
/* 	{ */
/* 	background-color: #e7290c; */
/* } */

/* .navbar-default .navbar-toggle .icon-bar { */
/* 	background-color: #ffffff; */
/* } */

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #ffffff;
	background-color:  #1e767a;
}

/* .navbar-default .navbar-link { */
/* 	color: #ffffff; */
/* } */

/* .navbar-default .navbar-link:hover { */
/* 	color: #ffffff; */
/* } */

.main-color-bg {
	background-color: #665c57 !important;
	border-color: #808080!important;
	color: #ffffff;
}

.imgContainer{
    float:left;
}

#header {
	background-color: #061718 !important;
 	width:100% !important; */
	color: white !important;
 	position: absolute ;
	top: 33px !important;
	padding-left: 45px;
	 font: italic bold 12px/30px Georgia, serif !important;
	 border-bottom: 1px solid #8ebabc !important;

}

.newstitle{
    padding-bottom: 5px;
    color: #1e767a !important;
}

.bytitle{
	border-bottom: 1px solid #a5c8c9;
    padding-bottom: 5px;
    color: #1e767a !important;
}

.eventtitle{
	border-bottom: 1px solid #a5c8c9;
    padding-bottom: 5px;
    color: #1e767a !important;
}

#containernew{
    padding-right: 2px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto
}

#profile-name{
	color: green !important;
	font-size: 30px;
	padding-bottom: 35px;
}

#loginFooter{
	color:gray !important;
	font-size: 11px;
}

.col-md-3{
	padding-left: 0px !important;
}

#scrollcontent{
	overflow:auto	
}

#headerall {
	background-color: #333333 !important;
	border-bottom: 1px solid #8ebabc;
	color: white !important;
	padding-top: 7px;
	padding-bottom: 8px;
	margin-bottom: 10px;
	position: relative !important;
}

#contentbody {
	position: relative !important;
	top: 88px;
	left: 0 !important;
	background-color: #ffffff !important;
}

#menubody {
	background-color: #092324;
}

.btn-squared-default {
	width: 100px !important;
	height: 100px !important;
	padding: 15px !important;
	font-size: 13px;
	font-weight: bold
}

.btn-squared-default:hover {
	border: 3px solid white;
	font-weight: 800;
}

.btn-squared-default-plain {
	width: 100px !important;
	height: 100px !important;
	font-size: 10px;
}

.btn-squared-default-plain:hover {
	border: 0px solid white;
}

.panel-default>.panel-heading {
	color: white !important;
	font-weight: bolder !important;
}

.center {
    margin-top:50px;   
}
.presentBtn{
	height:22px;
    width:22px;
    border: 1px;
    border-radius:2px;
    cursor: pointer;
    color:white;
    background-color:#78acaf;
    position:relative;
    font-weight: bold;
    
}

.absentBtn{
	height:22px;
    width:22px;
    border: 1px;
    border-radius:2px;
    cursor: pointer;
    color:white;
    background-color:#78acaf;
    position:relative;
    font-weight: bold;
    
}

#row_style {
    margin-top: 30px;
}

#submit {
   display: block;
   margin: auto;
}

blockquote {
	font-family: 'Droid Sans', sans-serif;
	border-left: none
}

.inner-block {
	overflow: hidden;
	border-radius: 17px;
	background-color: #178274;
	margin-top: 25px;
	color: white;
	width: 660px;
}

.block-text {
	font-size: 19px;
	margin-top: 13px;
}

#myTable{
	padding-left: 50px !important;
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
        padding: 0;
}
    
.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
}
    
.modal-footer .btn-group:last-child > button {
    border-right: 0;
}


    .sui-button-cell
    {
        text-align: center;
    }

    .sui-checkbox
    {
        font-size: 17px !important;
        padding-bottom: 4px !important;
    }

    .deleteButton img
    {
        margin-right: 3px;
        vertical-align: bottom;
    }

    .bigicon
    {
        color: #5CB85C;
        font-size: 20px;
    }


@media ( max-width : 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
		color: #ffffff;
		background-color: #e7290c;
	}
}

div.main{
    background: #0264d6; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #0264d6 1%, #1c2b5a 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0264d6), color-stop(100%,#1c2b5a)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #0264d6 1%,#1c2b5a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:calc(100vh);
width:100%;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

/* * { */
/*   box-sizing: border-box; */
/*     margin:0px auto; */

/*   &:before, */
/*   &:after { */
/*     box-sizing: border-box; */
/*   } */

/* } */

/* body { */
   
/*     color: #606468; */
/*   font: 87.5%/1.5em 'Open Sans', sans-serif; */
/*   margin: 0; */
/* } */

a {
	color: #8080ff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

}

.logincontainer {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login form{
	width: 250px;
}
#login, .logo{
    display:inline-block;
    width:40%;
}
#login{
border-right:1px solid #fff;
  padding: 0px 22px;
  width: 59%;
}
.logo{
color:#fff;
font-size:50px;
line-height: 125px;
}

#login form span.fa {
	background-color: #fff;
	border-radius: 3px 0px 0px 3px;
	color: #000;
	display: block;
	float: left;
	height: 50px;
    font-size:24px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 50px;
	border-radius: 0px 3px 3px 0px;
}
fieldset{
    padding:0;
    border:0;
    margin: 0;

}
#login form input[type=""], input[type=""] {
	background-color: #fff;
	border-radius: 0px 3px 3px 0px;
	color: #000;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 200px;
}

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  color: #eee;
  font-weight: bold;
  /* margin-bottom: 2em; */
  text-transform: uppercase;
  padding: 5px 10px;
  height: 30px;
}

#login form input[type="submit"]:hover {
	background-color: #d44179;
}

#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}
.middle {
  display: flex;
  width: 600px;
}